<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Me</title>
    <style>
        body {
            font-family: Verdana, sans-serif;
            background-color: #e2f0cb;
            padding: 50px;
            text-align: center;
        }
        h1 {
            color: #2d572c;
        }
        p {
            font-size: 18px;
            color: #444;
        }
    </style>
</head>
<body>
    <h1>About Me</h1>
    <p>Welcome to my website! I'm passionate about growing ganja .</p>
    <p>Feel free to contact me for high quality rolls .</p>
</body>
</html>
